<b>Bulk Free Item Discount</b> for product
<b><%= Item.from_product_code(promotion.product_code).name %></b>;
for every <%= promotion.required_quantity %> you buy, you get
<%= promotion.free_quantity %> <i>free </i>
