<b>Bulk Price Discount</b> for product
<b><%= Item.from_product_code(promotion.product_code).name %></b>;
buy at least <%= promotion.min_quantity %>
and you get $<%= promotion.price_reduction %> discount on each item
