<% if @checkout.items.any? %>
  <ul>
    <% @checkout.items.each do |item| %>
      <li><%= erb :"partials/item", locals: {item: item} %></li>
    <% end %>
  </ul>
<% else %>
  Checkout is empty.
<% end %>

<hr>

<% summary = @checkout.total_hash %>
<b>Item Total:</b><%= summary[:items_total] %>
    <br>
    <b>Promotion Total:</b><%= summary[:promotion_total] %>
  <br>
  <b>Grand Total:</b><%= summary[:total] %>
