<html>
  <head>
  </head>
  <body>
    <h1>The World Domination SuperMarket</h1>
    <h3>Current Checkout</h3>
    <hr>
    <button href="/scan" id="scan_button">Scan another item</button>
    <div id="scan_location" style="display: none">
      <%= erb :scan %>
    </div>

    <h4> Items: </h4>
    <div id="checkout">
      <%= erb :checkout %>
    </div>

    <hr>

    Active Promotions:

    <% if @checkout.pricing_rules.any? %>
      <ul>
        <% @checkout.pricing_rules.each do |promotion| %>
          <li><%= erb :"partials/#{promotion.class.to_s.underscore}", locals: {promotion: promotion} %></li>
          <br>
        <% end %>
      </ul>
    <% else %>
      No promotions active.
    <% end %>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
