Select Item:

<% products = Item::PRODUCTS %>
<form id="scan_form">
  <% products.each do |product| %>
    <% code = product[0] %>
    <% name = product[1].new.name %>
    <input type="radio" name="code" value="<%= code %>"> <%= name %><br>
  <% end %>
  <input type="submit" value="Scan"/>
</form>
